* {
    margin: auto;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    margin-top: 20px;
}

:root {
    --plyr-color-main:#ff0000;
    --plyr-control-radius: 10px;
  }

#sectiont {
    width: 30%;
    background-color: #ffffffb2;
    padding-top: 12px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
}

#titulo2 {
    font-size: 20px;
}

#titulo3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff0000;

}

a {
    color: #ff0000;
}

#iconc {
    color: #ff0000;
}

section {
    width: 30%;
    background-color: #ff0000b2;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media only screen and (max-width: 800px) {

    section {
        width: 90%;
        padding: 10px;

        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}

    #sectiont {
        width: 90%;
        background-color: #ffffffb2;
        padding: 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        text-align: center;
    }

    #titulo2 {
        font-size: 15px;
    }


}